<html>

<head>
  <title>Client</title>
  <meta charset="utf-8" />
</head>

<body>
  <center>
    <p>
      <h2>Client Account</h2></p>
    <p>
      <h2>Welcome!</h2></p>
  </center>
  <p>
    <h3>Please choose your Pack of data that you want to share</h3></p>
  <form method="post">
    <div>
      <input type="radio" name="pack" value=Minimal checked> Pack minimal<br><br>
      <input type="text" name="nom1" placeholder="Name">
      <input type="text" name="mail1" placeholder="Email"><br><br>
      <input type="radio" name="pack" value=Medium> Pack medium<br><br>
      <input type="text" name="nom2" placeholder="Name">
      <input type="text" name="mail2" placeholder="Email">
      <input type="text" name="sexe2" placeholder="Gender">
      <input type="text" name="tel2" placeholder="Phone">
      <input type="text" name="adresse2" placeholder="Address"><br><br>
      <input type="radio" name="pack" value=Maximal> Pack maximal<br><br>
      <input type="text" name="nom3" placeholder="Name">
      <input type="text" name="mail3" placeholder="Email">
      <input type="text" name="sexe3" placeholder="Gender">
      <input type="text" name="tel3" placeholder="Phone">
      <input type="text" name="adresse3" placeholder="Address"><br><br>
      <input type="text" name="nationalite3" placeholder="Nationality">
      <input type="text" name="statut3" placeholder="Social status">
      <input type="text" name="etat3" placeholder="Civil status"><br>
    </div>
    <p>
      <h3>Please choose the allowed actions on your data</h3></p>
    <div>
      <input type="radio" name="action" value=Collection checked> Collection<br>
      <input type="checkbox" name="action" value=Treatment> Treatment<br>
      <input type="checkbox" name="action" value=Transfer> Transfer<br>
    </div>
    <p>
      <h3>Votre identifiant client</h3></p>
    <input type="text" name="id" placeholder="Identifiant client" required>
    <button type="submit">Valider</button>
  </form>
</body>

</html>
