<html>

<head>
  <title>Client</title>
  <meta charset="utf-8" />
</head>

<body>
  <center>
    <p>
      <h2>Client Account</h2></p>
    <p>
      <h2>Welcome!</h2></p>
  </center>
  <p>
    <h3>Please choose your Pack of data that you want to share</h3></p>
  <form method="post">
    <div>
      <input id="pack-min" type="radio" name="pack" value=Minimal checked> Pack minimal<br><br>
      <input id="name1" type="text" name="nom1" placeholder="Name" required>
      <input id="email1" type="email" name="mail1" placeholder="Email" required><br><br>
      <input id="pack-med" type="radio" name="pack" value=Medium> Pack medium<br><br>
      <input id="name2" type="text" name="nom2" placeholder="Name">
      <input id="email2" type="email" name="mail2" placeholder="Email">
      <select id="gender2" name="sexe2">
      <option selected disabled>Gender</option>
      <option value="female">Female</option>
      <option value="male">Male</option>
      <option value="other">Other</option>
    </select>
      <input id="phone2" type="text" name="tel2" placeholder="Phone" pattern="[0-9]{8}">
      <input id="address2" type="text" name="adresse2" placeholder="Address"><br><br>
      <input id="pack-max" type="radio" name="pack" value=Maximal> Pack maximal<br><br>
      <input id="name3" type="text" name="nom3" placeholder="Name">
      <input id="email3" type="email" name="mail3" placeholder="Email">
      <select id="gender3" name="sexe3">
      <option selected disabled>Gender</option>
      <option value="female">Female</option>
      <option value="male">Male</option>
      <option value="other">Other</option>
    </select>
      <input id="phone3" type="text" name="tel3" placeholder="Phone" pattern="[0-9]{8}">
      <input id="address3" type="text" name="adresse3" placeholder="Address"><br><br>
      <input id="nation3" type="text" name="nationalite3" placeholder="Nationality">
      <select id="stats3" name="statut3">
      <option selected disabled>Social status</option>
      <option value="student">Student</option>
      <option value="employee">Employee</option>
      <option value="retired">Retired</option>
    </select>
      <select id="statc3" name="etat3">
      <option selected disabled>Civil status</option>
      <option value="single">Single</option>
      <option value="married">Married</option>
      <option value="divorced">Divorced</option>
    </select>
    </div>
    <p>
      <h3>Please choose the allowed actions on your data</h3></p>
    <div>
      <input type="radio" name="action" value=Collection checked> Collection<br>
      <input type="checkbox" name="action" value=Treatment> Treatment<br>
      <input type="checkbox" name="action" value=Transfer> Transfer<br>
    </div>
    <p>
      <h3>Your client ID</h3></p>
    <select name="id" required>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
  </select>
    <button type="submit">Apply</button>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    $('#pack-min').change(function() {
      if (this.checked) {
        $('#name1').prop('required', true);
        $('#email1').prop('required', true);
        $('#name2').prop('required', false);
        $('#email2').prop('required', false);
        $('#gender2').prop('required', false);
        $('#phone2').prop('required', false);
        $('#address2').prop('required', false);
        $('#name3').prop('required', false);
        $('#email3').prop('required', false);
        $('#gender3').prop('required', false);
        $('#phone3').prop('required', false);
        $('#address3').prop('required', false);
        $('#nation3').prop('required', false);
        $('#stats3').prop('required', false);
        $('#statc3').prop('required', false);
      }
    });
    $('#pack-med').change(function() {
      if (this.checked) {
        $('#name2').prop('required', true);
        $('#email2').prop('required', true);
        $('#gender2').prop('required', true);
        $('#phone2').prop('required', true);
        $('#address2').prop('required', true);
        $('#name1').prop('required', false);
        $('#email1').prop('required', false);
        $('#name3').prop('required', false);
        $('#email3').prop('required', false);
        $('#gender3').prop('required', false);
        $('#phone3').prop('required', false);
        $('#address3').prop('required', false);
        $('#nation3').prop('required', false);
        $('#stats3').prop('required', false);
        $('#statc3').prop('required', false);
      }
    });
    $('#pack-max').change(function() {
      if (this.checked) {
        $('#name3').prop('required', true);
        $('#email3').prop('required', true);
        $('#gender3').prop('required', true);
        $('#phone3').prop('required', true);
        $('#address3').prop('required', true);
        $('#nation3').prop('required', true);
        $('#stats3').prop('required', true);
        $('#statc3').prop('required', true);
        $('#name1').prop('required', false);
        $('#email1').prop('required', false);
        $('#name2').prop('required', false);
        $('#email2').prop('required', false);
        $('#gender2').prop('required', false);
        $('#phone2').prop('required', false);
        $('#address2').prop('required', false);
      }
    });
  </script>
</body>

</html>
