<html>

<head>
  <title>Déploiment du contrat</title>
</head>

<body>
  <p>
    <%=data1%>
      <br>
      <%=data2%>
  </p>
  <form target="_blank" action="/client">
    <input type="submit" value="Client" />
  </form>
  <form target="_blank" action="/provider">
    <input type="submit" value="Fournisseur" />
  </form>
  <form target="_blank" action="/auditor">
    <input type="submit" value="Auditeur" />
  </form>
</body>

</html>
