<html>

<head>
  <title>Smart Contract Deployment</title>
</head>

<body>
  <p>
    <%=data%>
  </p>
  <form target="_blank" action="/client">
    <input type="submit" value="Client" />
  </form>
  <form target="_blank" action="/provider">
    <input type="submit" value="Service Provider" />
  </form>
  <form target="_blank" action="/auditor">
    <input type="submit" value="Auditor" />
  </form>
</body>

</html>
